@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.eot");
    src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Roboto-Regular.woff2") format("woff2"),
        url("fonts/Roboto-Regular.woff") format("woff"),
        url("fonts/Roboto-Regular.ttf") format("truetype"),
        url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Medium.eot");
    src: url("fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/Roboto-Medium.woff2") format("woff2"),
        url("fonts/Roboto-Medium.woff") format("woff"),
        url("fonts/Roboto-Medium.ttf") format("truetype"),
        url("fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
/*    color: #000000;
    font-size: 13px;
    line-height: 21px;*/
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

header {
    order: 1;
    -webkit-order: 1;
}

.content {
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

footer {
    order: 3;
    -webkit-order: 3;
    position: relative;
    z-index: 5;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#b2b2b2;}
::-moz-placeholder          {color:#b2b2b2;}
:-moz-placeholder           {color:#b2b2b2;}
:-ms-input-placeholder      {color:#b2b2b2;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
}

h1 {

}

h2 {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #8dc63f;
}

h3 {
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
    color: #ffffff;
}

h4 {

}

p {
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: normal;
    color: #ffffff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

button {
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0 2%;
    margin: 0 auto;
    position: relative;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

/*-- Icons --*/

.booble {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 12px;
    background-image: url(img/booble.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.home {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 19px;
    background-image: url(img/controls_sprite.png);
    background-repeat: no-repeat;
    background-position: 1px -1px;
}

.search {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 21px;
    background-image: url(img/controls_sprite.png);
    background-repeat: no-repeat;
    background-position: -62px 1px;
}

.hearth {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 20px;
    background-image: url(img/controls_sprite.png);
    background-repeat: no-repeat;
    background-position: -131px 1px;
}

.acc {
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 23px;
    background-image: url(img/controls_sprite.png);
    background-repeat: no-repeat;
    background-position: -200px 2px;
}

.burger {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background-image: url(img/controls_sprite.png);
    background-repeat: no-repeat;
    background-position: -263px 2px;
}

.restourants {
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 21px;
    background-image: url(img/menu_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.kitchens {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 15px;
    background-image: url(img/menu_sprite.png);
    background-repeat: no-repeat;
    background-position: 1px -63px;
}

.shops {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 17px;
    background-image: url(img/menu_sprite.png);
    background-repeat: no-repeat;
    background-position: -1px -125px;
}

.discount {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 21px;
    background-image: url(img/menu_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -187px;
}

.card {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 17px;
    background-image: url(img/menu_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -251px;
}

.user {
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 19px;
    background-image: url(img/menu_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -311px;
}

.settings {
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 21px;
    background-image: url(img/menu_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -374px;
}

/*-- /Icons --*/

/*-- Slick --*/

.slick-arrow {
    width: 14px;
    height: 14px;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    background: transparent;
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
}

.slick-arrow img {
    width: 100%;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 4px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 1px solid #8dc63f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-dots li button:after {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button:after {
    background: #8dc63f;
}

/*-- /Slick --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header {
    text-align: center;
    position: relative;
    padding: 20px 20px 14px 20px;
}

.link-back {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 1px;
    left: 0;
}

.link-back:before {
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 16px;
    height: 13px;
    background-image: url(img/left_arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.header h2 {
/*    font-size: 13px;
    line-height: 16px;
    color: #8dc63f;*/
}

.main-nav_box {
    display: block;
    width: 270px;
    height: 100vh;
    padding: 10px 22px 10px 10px;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    z-index: 10;
}

.main-nav-header {
    margin: 16px 0 12px 14px;
}

.main-nav-header .col-1 {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}

.main-nav-header .col-2 {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    text-align: right;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 123px;
}

.logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.search {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: url(img/search.png);
    background-position: center;
    background-repeat: no-repeat;
}

.main-nav-header .search {
    position: relative;
    top: 8px;
}

.main-nav_wrapp {
    /*padding-left: 19px;*/
}

.main-nav {
    margin: 15px 0 15px 19px;
}

.main-nav li {
    padding: 12px 0;
}

.main-nav li .icon-box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 29px;
}

.main-nav li a {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #757575;
    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav li a:link,
.main-nav li a.visited {
    color: #757575;
}

.main-nav li a:active,
.main-nav li a.active {
    color: #9fc54d;
}

.main-nav li a:hover {
    color: #9fc54d;
}

.icon-box {
    display: inline-block;
    vertical-align: middle;
    width: 39px;
    height: 39px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 38px 0 rgba(0, 0, 0, .09);
    -moz-box-shadow: 0 0 38px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 0 38px 0 rgba(0, 0, 0, .09);

    -webkit-transition-property: all;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav li a:link .icon-box,
.main-nav li a.visited .icon-box {
    -webkit-box-shadow: 0 0 38px 0 rgba(0, 0, 0, .09);
    -moz-box-shadow: 0 0 38px 0 rgba(0, 0, 0, .09);
    box-shadow: 0 0 38px 0 rgba(0, 0, 0, .09);
}

.main-nav li a:active .icon-box,
.main-nav li a.active .icon-box {
    -webkit-box-shadow: 0 0 38px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 38px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 38px 0 rgba(0, 0, 0, .2);
}

.main-nav li a:hover .icon-box {
    -webkit-box-shadow: 0 0 38px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 38px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 38px 0 rgba(0, 0, 0, .2);
}

.icon-box.green {
    background-color: #9fc54d;
}

.icon-box i {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.slider_wrapp {
    margin: 7px 0;
}

.slider-header {
    /*outline: 1px solid red;*/
}

.slider-title {
    width: 80%;
}

.slider-title h3 {
    display: inline-block;
    vertical-align: top;
    min-width: 175px;
    position: relative;
    padding: 0 10px;
    background: #8dc63f;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
    color: #ffffff;
}

.slider-title h3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -12px;
    border-style: solid;
    border-width: 19px 0 0 12px;
    border-color: transparent transparent transparent #8ec63f;
}

.slider-header .append-arrows {
    width: 20%;
    text-align: right;
    padding-right: 5px;
}

.append-arrows .slick-arrow {
    display: inline-block !important;
    vertical-align: top;
    margin: 0 2px;
    position: relative;
    top: -1px;
}

.append-arrows .slick-prev {
    left: 0;
}

.append-arrows .slick-next {
    right: 0;
}

.slider {
    border-top: 1px solid #c5c3c2;
}

.slider .slide {
    display: block;
    height: 180px;
    overflow: hidden;
    position: relative;
}

.slider .slide:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    opacity: 0.05;
}

.slide-photo {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo-box {
    display: inline-block;
    vertical-align: top;
    width: 95px;
    height: 95px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 36px;
    left: 50%;
    z-index: 3;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.logo-box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 98%;
    max-height: 98%;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slide-footer {
    width: 100%;
    padding: 7px 10px 5px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}

.slide-footer .col-1 {
    width: 50%;
}

.slide-footer .col-2 {
    width: 50%;
    text-align: right;
}

.slide-footer p {
    font-size: 12px;
    line-height: 19px;
    font-weight: normal;
    color: #ffffff;
}

.testimonials-link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.testimonials-link p {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 19px;
    font-weight: normal;
    color: #ffffff;
}

.testimonials-link i {
    margin: 2px 0 0 2px;
}

.rating_wrapp {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-left: 14%;
}

.rating {

}

.rating li {
    display: inline-block;
    vertical-align: top;
}

.star {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 13px;
    background-image: url(img/star_sprite.png);
    background-repeat: no-repeat;
    background-position: -16px 0;
}

.slider_2 .slide {
    height: 102px;
    background: #ffffff;
}

.star.active {
    background-position: 0 0;
}

.tumbnails_1 {
    margin: 0 -1px;
}

.thumb-1 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.tumbnails_1 .thumb-1:nth-child(odd) {
    padding-right: 1px;
}

.tumbnails_1 .thumb-1:nth-child(even) {
    padding-left: 1px;
}

.thumb-1 .inner {
    display: block;
    height: 102px;
    overflow: hidden;  
    position: relative;
}

.thumb-1 .inner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    opacity: 0.05;
}

.thumb-1 img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.th1-footer {
    width: 100%;
    padding: 7px 10px 5px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}

.th1-footer p {
    font-size: 12px;
    line-height: 19px;
    font-weight: normal;
    color: #ffffff;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 1 - Add Dish Page --*/

.thumbnails_wrapp {

}

.thumbnails_wrapp .title {
    padding: 2px 14px;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
    color: #4e4e4e;
}

.thumbnails-2 {
    padding: 0 11px;
}

.thumb-2 {
    display: inline-block;
    vertical-align: top;
    margin: 3px;
    width: 73px;
    height: 48px;
    cursor: pointer;
    position: relative;
    background: #ffffff;
    border: 2px solid #bfbfbf;
}

.thumb-2:hover {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.thumb-2:after {
    content: "";
    width: 23px;
    height: 21px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-image: url(img/photo_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.thumb-2 .img-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.thumb-2 .img-box:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .15);
}

.thumb-2 img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input_wrapp {
    position: relative;
    margin: 6px 0;
}

input {
    display: block;
    width: 100%;
    height: 28px;
    padding: 0 14px;
    background: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #d5d5d4;
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 13px;
    line-height: 28px;
    font-weight: normal;
    color: #4e4e4e;
}

.input_wrapp.important:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #f26122 transparent;
}

.input_wrapp {

}

label {
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
    color: #4e4e4e;
}

.input_wrapp label {
    display: block;
    padding: 5px 14px;
}

textarea {
    width: 100%;
    height: 90px;
    padding: 4px 14px;
    background: #f9f9f9;
    border: 1px solid #a4a4a2;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
    color: #4e4e4e;
}

.p-descript {
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    font-style: italic;
    color: #4e4e4e;
}

.form_wrapp .p-descript {
    padding: 2px 14px;
}

.orange {
    color: #f26022;
}

.green-pill {
    width: 100%;
    margin: 14px 0 9px 0;
    cursor: pointer;
    text-align: center;
    padding: 8px 2% 9px 2%;
    background: #8dc63f;
    border: 1px solid transparent;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    font-family: "Roboto", "Arial", "Verdana", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
    color: #ffffff;
}

.green-pill:link,
.green-pill.visited {
    background: #8dc63f;
}

.green-pill:active,
.green-pill.active {
    background: #80b637;
}

.green-pill:hover {
    background: #80b637;
}


/*-- /Section 1 - Add Dish Page --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer {
    /*padding-bottom: 5px;*/
}

.footer-nav {
    text-align: center;
    margin: 0 0 8px 0;
}

.footer-nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 3px 5.5%;
}

.footer-nav li a {
    display: inline-block;
    vertical-align: middle;
}
